/**** FONTS USED IN THIS PAGE ******
font-family: 'Dosis', sans-serif; Regular 400 and bold 700
font-family: 'Permanent Marker', cursive; Regular 400
font-family: 'Roboto', sans-serif; Regular 400
*/
body {
    background-image: url('../img/purple-cloud.jpg');
    background-size: cover;
    background-position: center;
    color: #FFFFFF;
    font-family: 'Dosis', sans-serif;
    font-weight: normal;
    font-size: 16px;
}

/***** GRID FOR THE PAGE *****/
.full-width {
    margin: 0 auto;
    overflow: auto;
    width: 90%;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}
.half-width {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-flow: row wrap;
    width: 90%;
}
.third-width {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    height: 200px;
    width: 90%;
}

/***** HEADER SECTION *****/
header {
    height: 800px;
   
}
header .full-width{
    margin: 0;
    width: auto;    
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
}
header .half-width p {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    width: 90%;

}
header p {
    font-family: 'Dosis', sans-serif;
    font-size: 4.5em;
    font-weight: normal;
    margin-left: 100px;
    width: auto;
}
header h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 4.5em;
    font-weight: normal;
    padding-top: 200px; 
    text-transform: capitalize;
    margin-left: 65px;
}
header h1 span {
    color: #CF0078;
}
header h1 span:hover {
    font-family: 'Permanent Marker', cursive;
}
.nav {
    display: flex;
    justify-content: center;
    width: 100%;
}
nav ul {
    margin: 0;
    padding-top: 27px;

}
nav ul li {
    display: inline;
    /* font-family: 'Permanent Marker', cursive; */
    font-family: 'Roboto', sans-serif; 
    font-size: 1.875em;
    font-weight: normal;
    padding: 35px 40px 0 40px;
    text-transform: uppercase;
}
nav ul li :hover{
    color: #CF0078;
}
nav ul li a {
    color: #FFFFFF;    
    text-decoration: none;

}

/***** PORTFOLIO SECTION *****/
#portfolio .content-wrapper {
    padding-bottom: 50px;
}
.block {
    box-sizing: border-box;
    height: 450px;
    margin: 50px;
    width: 700px;
}
#portfolio {
    background-color: #3F0B66;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-flow: row wrap;

    font-size: 2em;
}
#portfolio h2 {
    text-align: center;
}
#portfolio .image{
    height: 450px; 
    width: 700px;
}
.block-2 {
    display: none;
}
.block-3 {
    display: none;
}
.block-6 {
    display: none;
}

/***** ABOUT SECTION *****/
#about {
    font-size: 2em;
    line-height: 2em;
    text-align: center;
}
#about p {
    text-align: left;
}
#about .image {
    height: 500px;
}
.about-title {
    width: 100%;
}

/***** FOOTER SECTION *****/
footer .full-width {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    text-align: center;
}
footer {
    background-color: #3F0B66;
    font-size: 2em;
    line-height: 1em;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
}
footer .third-width {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-flow: row wrap;

}
i{
    color: #FFFFFF;
    margin-top: 25px;
    padding: 0 10px;
}
i:hover {
    color: #CF0078;
}

#copy {
    font-size: 1.125em;
    margin: 0;
    padding-top: 70px;
    padding-bottom: 50px;
}
footer p a {
    color: #FFFFFF;
    text-decoration: none;
}
footer p a:hover {
    color: #CF0078;
}
footer p strong {
    color: #CF0078;
}
@media (min-width: 768px) {

}